.graphic {
    background-image: url(../imgs/simon-hurry-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: row;
}

.contactUs {
    padding-left: 5%;
}

#name, #email, #name-label, #email-label {
    margin-bottom: 3%
}

#submit-comment-button {
    margin-top: 3%
}

.text {
    background-color: #F3F8FF;
}


