#why-this, #parent-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container p {
    padding: 0 20%;
}

img {
    height: 20%;
    width: 20%;
    padding-right: 10%;
}

#parent-info {
    padding-bottom: 5%;
}