header {
    text-align: center
}

nav {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.link {
    padding: 2%;
}

footer {
    text-align: center;
    padding: 2%;
    background-color: blueviolet;
}

